:root {
  --background: #eeeeee;
  --border: #111111;
  --text: #111111;
  --buttonhover: #dddddd;
  --buttonclick: #aaaaaa;
  --pageselect: #dddddd;
}

* {
  position: absolute;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  z-index: 0;
  background-color: var(--background);
  box-shadow: none;
  border: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Times New Roman", Times, sans-serif;
  color: var(--text);
}

#settingbar {
  position: fixed;
  border-style: solid;
  border-color: var(--border);
  border-width: 0 0 0.5vmin 0;
  width: 100vw;
  height: 10vh;
  top: -10vh;
  z-index: 5;
}

#settingbardropdown {
  width: 10vw;
  height: 4vh;
  left: 45vw;
  top: 10vh;
  border-style: solid;
  border-color: var(--border);
  border-width: 0.5vmin;
}
#settingbardropdown:hover {
  background-color: var(--buttonhover);
}

#pageheader {
  font-size: 8vmin;
}

h1.titletext {
  font-size: 8vmin;
  width: 100vw;
  text-align: center;
  top: 4vh;
}