:root {
  --background: #eeeeee;
  --border: #111111;
  --text: #111111;
  --buttonhover: #dddddd;
  --buttonclick: #aaaaaa;
  --pageselect: #dddddd;
  --backred: #ff0000;
}

* {
  position: absolute;
  margin: 0;
  padding: 0;
  transition: 0.5s ease;
  z-index: 0;
  background-color: var(--background);
  box-shadow: none;
  border: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Times New Roman", Times, sans-serif;
  color: var(--text);
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  overflow: hidden;
}

#lefttransitionpanel {
  left: -60vw;
  top: 0;
  width: 50vw;
  height: 100vh;
  border-style: solid;
  border-color: var(--border);
  border-width: 0 2vmin 0 0;
  z-index: 999;
}
#righttransitionpanel {
  left: 110vw;
  top: 0;
  width: 50vw;
  height: 100vh;
  border-style: solid;
  border-color: var(--border);
  border-width: 0 0 0 2vmin;
  z-index: 999;
}

#settingbar {
  position: fixed;
  border-style: solid;
  border-color: var(--border);
  border-width: 0 0 0.5vmin 0;
  width: 100vw;
  height: 40vh;
  top: -40vh;
  z-index: 5;
}

#settingbardropdown {
  width: 10vw;
  height: 4vh;
  left: 45vw;
  top: 40vh;
  border-style: solid;
  border-color: var(--border);
  border-width: 0.5vmin;
}
#settingbardropdown:hover {
  background-color: var(--buttonhover);
}

.pageheader {
  font-size: 8vmin;
  text-align: center;
  width: 100%;
}

.settingdescriptor {
  font-size: 5vmin;
  text-align: center;
  width: 100%;
  top: 15vh;
  background-color: transparent;
}

#gamepagetitle {
  font-size: 8vmin;
  text-align: center;
  width: 60vw;
  height: 10vh;
  top: 5vh;
  border-style: solid;
  border-color: var(--border);
  border-width: 0.5vmin;
}
#gamepagesettingbox {
  width: 40vw;
  height: 100vh;
  left: 60vw;
  top: 5vh;
  border-style: solid;
  border-color: var(--border);
  border-width: 0.5vmin;
  overflow-y: scroll;
}
.gamepagesettingtab {
  width: 10vw;
  height: 10vh;
  font-family: 'Noto Emoji', sans-serif;
  font-size: 8vh;
  border-style: solid;
  border-color: var(--border);
  border-width: 0.5vmin;
  text-align: center;
}
#GPTsetting {
  left: 10vw;
}
#GPTcards {
  left: 10vw;
}
#GPTemji {
  left: 10vw;
}
#GPTsetting {
  left: 10vw;
}

#gamepagenamebox {
  width: 60vw;
  height: 90vh;
  top: 15vh;
  border-style: solid;
  border-color: var(--border);
  border-width: 0.5vmin;
  overflow-y: scroll;
}

h1.titletext {
  font-size: 8vmin;
  width: 100vw;
  text-align: center;
  top: 4vh;
}

button:hover {
  background-color: var(--buttonhover);
}

select {
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
}

#adjustcolor {
  width: 40vw;
  height: 10vh;
  left: 5vw;
  top: 10vh;
  background-color: var(--background);
  font-size: 6vmin;
}
#adjustcolor:hover {
  background-color: var(--buttonhover);
}

#pagetransitions {
  width: 40vw;
  height: 10vh;
  left: 55vw;
  top: 10vh;
  background-color: var(--background);
  font-size: 6vmin;
}
#pagetransitions:hover {
  background-color: var(--buttonhover);
}

.page {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#gamepage {
  display: none;
}
#waitingpage {
  display: none;
}
#typenamepage {
  display: none;
}
#hostinfopage {
  display: none;
}
#playpage {
  display: none;
}

.centralcontainer {
  width: 50vw;
  height: 80vh;
  border-width: 1vmin;
  border-color: var(--border);
  border-style: solid;
  top: 10vh;
  left: 25vw;
}

.titlebutton {
  width: 100%;
  border-style: none;
  height: 15vh;
  font-size: 6vh;
  margin-top: 0;
}
.titlebutton:hover {
  margin-top: -1vh;
}
#hostbutton {
  top: 20vh;
}
#joinbutton {
  top: 40vh;
}
#findbutton {
  top: 60vh;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 1vmin var(--border);
  border-bottom-color: var(--buttonhover);
  border-radius: 50%;
  content: "";
  height: 40vmin;
  width: 40vmin;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

.x {
  position: absolute;
  left: calc(50vw - 2.5vh);
  top: 40vh;
  width: 10vh;
  height: 10vh;
  opacity: 0.5;
  background-color: transparent;
}
.x:hover {
  opacity: 1;
}
.x:before, .x:after {
  position: absolute;
  left: 5vh;
  content: ' ';
  height: 10vh;
  width: 0.5vh;
  background-color: var(--backred);
}
.x:before {
  transform: rotate(45deg);
}
.x:after {
  transform: rotate(-45deg);
}

#spinx {
  left: calc(50vw - 10vh);
  top: 40vh;
  width: 20vh;
  height: 20vh;
}
#spinx:before, #spinx:after {
  position: absolute;
  left: 9vh;
  content: ' ';
  height: 20vh;
  width: 2vh;
  background-color: var(--backred);
}

#typex {
  top: 0;
  left: 0;
  z-index: 1;
}
#hostinfox {
  top: 0;
  left: 0;
  z-index: 1;
}

.frontinput {
  width: 80%;
  height: 15vh;
  left: 10%;
  top: 20vh;
  text-align: center;
  font-size: 6vmin;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
}
#joingameid {
  top: 20vh;
}
#joingamenickname {
  top: 40vh;
}
#hostgameid {
  top: 20vh;
}
#hostgamenickname {
  top: 40vh;
}

.frontbutton {
  width: 80%;
  height: 15vh;
  left: 10%;
  top: 60vh;
  text-align: center;
  font-size: 6vmin;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
}

#playercount {
  width: 10vw;
  height: 15vh;
  left: 5vw;
  top: 75vh;
  padding-top: 3vh;
  border-width: 1vmin;
  border-color: var(--border);
  border-style: solid;
  font-size: 6vh;
  text-align: center;
}
#startgamebutton {
  width: 40vw;
  height: 15vh;
  left: 15vw;
  top: 75vh;
  border-width: 1vmin;
  border-color: var(--border);
  border-style: solid;
  font-size: 8vmin;
}

#votetext {
  font-size: 8vh;
  width: 100vw;
  top: 10vh;
  height: 10vh;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
}
#playerholder {
  width: 60vw;
  height: 80vh;
  left: 0;
  top: 20vh;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
  overflow-y: scroll;
}
.playerslide {
  width: 100%;
  height: 20vh;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
  display: block;
  position: static;
}
.playerslide:hover {
  background-color: var(--buttonhover);
}

.slideicon {
  font-family: 'Noto Emoji', sans-serif;
  width: 12vh;
  height: 12vh;
  top: 4vh;
  left: 4vh;
  font-size: 10vh;
  display: inline-block;
  position: relative;
  text-align: center;
}
.slidename {
  width: 30vh;
  height: 12vh;
  top: 0vh;
  left: 15vh;
  font-size: 5vh;
  display: inline-block;
  position: relative;
}
.slideextra {
  width: 20vh;
  height: 12vh;
  top: 4vh;
  left: 40vh;
  font-size: 10vh;
  display: inline-block;
  position: relative;
}