:root {
  --background: #eeeeee;
  --border: #111111;
  --text: #111111;
  --buttonhover: #dddddd;
  --buttonclick: #aaaaaa;
  --pageselect: #dddddd;
  --backred: #ff0000;
  --lightred: #550000;
  --green: #00ff00;
  --hostedshading: #000044;
}

* {
  position: absolute;
  margin: 0;
  padding: 0;
  transition: 0.5s ease;
  z-index: 0;
  background-color: var(--background);
  box-shadow: none;
  border: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Times New Roman", Times, sans-serif;
  color: var(--text);
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.notransition {
  transition: none !important;
}

body {
  overflow: hidden;
}

#lefttransitionpanel {
  left: -5vmin;
  top: 0;
  width: 0vmax;
  height: 100vmin;
  border-style: solid;
  border-color: var(--border);
  border-width: 0 2vmin 0 0;
  z-index: 999;
  position: absolute;
}
#righttransitionpanel {
  left: 100vmax;
  top: 0;
  width: 0vmax;
  height: 100vmin;
  border-style: solid;
  border-color: var(--border);
  border-width: 0 0 0 2vmin;
  z-index: 999;
  position: absolute;
}

#settingbar {
  position: fixed;
  border-style: solid;
  border-color: var(--border);
  border-width: 0 0 0.5vmin 0;
  width: 100vmax;
  height: 40vmin;
  top: -40vmin;
  z-index: 5;
}

#settingbardropdown {
  width: 10vmax;
  height: 4vmin;
  left: 45vmax;
  top: 40vmin;
  border-style: solid;
  border-color: var(--border);
  border-width: 0.5vmin;
}
#settingbardropdown:hover {
  background-color: var(--buttonhover);
}

.pageheader {
  font-size: 8vmin;
  text-align: center;
  width: 100%;
}
#alerttext {
  font-size: 6vmin;
  text-align: center;
  width: 100%;
  top: 20vmin
}


.settingdescriptor {
  font-size: 5vmin;
  text-align: center;
  width: 100%;
  top: 15vmin;
  background-color: transparent;
}

.howtoplay {
  display: none;
  position: absolute;
  left: 10vmax;
  top: 5vmin;
  width: 80vmax;
  height: 80vmin;
  color: var(--text);
  background-color: var(--buttonhover);
  text-align: left;
  z-index: 8;
  font-size: 4vmin;
  border: var(--border) solid 0.5vmin;
}
.closehowtoplay {
  display: none;
  position: absolute;
  left: 10vmax;
  top: 85vmin;
  width: 80vmax;
  height: 10vmin;
  color: var(--text);
  background-color: var(--buttonhover);
  border: var(--border) solid 0.5vmin;
  text-align: left;
  z-index: 8;
  font-size: 4vmin;
  text-align: center;
}
.closehowtoplay:hover {
  background-color: var(--backred);
}

#gamepagetitle {
  font-size: 8vmin;
  text-align: center;
  width: 60vmax;
  height: 10vmin;
  top: 5vmin;
  border-style: solid;
  border-color: var(--border);
  border-width: 0.5vmin;
}
.gamepagetitlehost:hover {
  background-color: var(--buttonhover);
}

.redborder {
  color: var(--backred);
  border-color: var(--backred);
}

#gamepagesettingbox {
  width: 40vmax;
  height: 95vmin;
  left: 60vmax;
  top: 5vmin;
  border-style: solid;
  border-color: var(--border);
  border-width: 0.5vmin;
  overflow: hidden;
}
.gamepagesettingtab {
  width: 10vmax;
  height: 10vmin;
  font-family: 'Noto Emoji', sans-serif;
  font-size: 8vmin;
  border-style: solid;
  border-color: var(--border);
  border-width: 0.5vmin;
  text-align: center;
  overflow: hidden;
}
.tabcontent {
  top: 10vmin;
  width: 100%;
  height: 85vmin;
  overflow-y: scroll;
}

#GPTsetting {
  background-color: var(--backred);
}
#settingtabcontent {
  display: block;
}

#GPTcards {
  left: 10vmax;
}
#cardstabcontent {
  display: none;
}

#GPTemoji {
  left: 20vmax;
}
#emojitabcontent {
  display: none;
}
.emojiselector {
  width: 25%;
  height: 10vmax;
  font-family: 'Noto Emoji', sans-serif;
  font-size: 6vmax;
  padding-top: 1vmax;
  border-style: solid;
  border-color: var(--border);
  border-width: 0.5vmin;
  text-align: center;
  position: relative;
  display: inline-block; 
}
.changecolorbutton {
  width: 100%;
  height: 10vmax;
  font-size: 6vmax;
  border-style: solid;
  border-color: var(--border);
  border-width: 0.5vmin;
  text-align: center;
  position: relative;
  display: block; 
}
.changecolorbutton:hover {
  background-color: var(--buttonhover);
}
#changecolorpage {
  top: -60vmin;
}
.colorselect {
  width: 40vmax;
  height: 8vmin;
  position: absolute;
  top: 10vmin;
  left: 5vmax;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
  font-size: 3vmin;
  padding-left: 1vmin;
  text-align: center;
}

.holderdiv {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#GPTlogs {
  left: 30vmax;
}
#logstabcontent {
  display: none;
}
.logstab {
  padding-top: 1vmin;
  width: 100%;
  border: solid 0.5vmin var(--border);
  position: static;
  display: block;
  font-size: 6vmin;
  height: auto;
  padding-bottom: 1vmin;
}
.logstab:hover {
  background-color: var(--buttonhover);
}

#gamepagenamebox {
  width: 60vmax;
  height: 65vmin;
  top: 15vmin;
  border-style: solid;
  border-color: var(--border);
  border-width: 0.5vmin;
  overflow-y: scroll;
  overflow-x: hidden;
}

.GPTtext {
  font-size: 6vmin;
  text-align: center;
  width: 100%;
  height: 8vmin;
  margin-top: 3vmin;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
.settinginput {
  width: 80%;
  height: 15vmin;
  left: 10%;
  margin-top: 1vmin;
  text-align: center;
  font-size: 6vmin;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
  display: block;
  position: relative;
}
.checkmark {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-color: var(--background);
}
.main {
  width: 30%;
  height: 8vmin;
  left: 35%;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
  display: block;
  position: relative;
  background-color: var(--background);
}
input[type=checkbox] {
  visibility: hidden;
}

h1.titletext {
  font-size: 8vmin;
  width: 100vmax;
  text-align: center;
  top: 4vmin;
}

button:hover {
  background-color: var(--buttonhover);
}

select {
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
}

#adjustcolor {
  width: 40vmax;
  height: 10vmin;
  left: 5vmax;
  top: 10vmin;
  background-color: var(--background);
  font-size: 6vmin;
  text-align: center;
}
#adjustcolor:hover {
  background-color: var(--buttonhover);
}

#pagetransitions {
  width: 40vmax;
  height: 10vmin;
  left: 55vmax;
  top: 10vmin;
  background-color: var(--background);
  font-size: 6vmin;
  text-align: center;
}
#pagetransitions:hover {
  background-color: var(--buttonhover);
}
.leavegamebutton {
  display: none;
  position: absolute;
  width: 40vmax;
  height: 10vmin;
  left: 55vmax;
  top: 25vmin;
  background-color: var(--background);
  border: 0.5vmin solid var(--border);
  font-size: 6vmin;
}
.leavegamebutton:hover {
  background-color: var(--backred);
}

.howtoplaybutton {
  position: absolute;
  width: 40vmax;
  height: 10vmin;
  left: 5vmax;
  top: 25vmin;
  background-color: var(--background);
  border: 0.5vmin solid var(--border);
  font-size: 6vmin;
}
.howtoplaybutton:hover {
  background-color: var(--buttonhover);
}

.page {
  width: 100vmax;
  height: 100vmin;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

#gamepage {
  display: none;
}
#findpage {
  display: none;
}
#typenamepage {
  display: none;
}
#hostinfopage {
  display: none;
}
#playpage {
  display: none;
}
#reviewpage {
  display: none;
}
#alertpage {
  display: none;
}


.centralcontainer {
  width: 50vmax;
  height: 80vmin;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
  top: 10vmin;
  left: 25vmax;
}

.titlebutton {
  width: 100%;
  border-style: none;
  height: 15vmin;
  font-size: 6vmin;
  margin-top: 0;
}
.titlebutton:hover {
  margin-top: -1vmin;
}
#hostbutton {
  top: 20vmin;
}
#joinbutton {
  top: 40vmin;
}
#findbutton {
  top: 60vmin;
}

.x {
  position: absolute;
  left: calc(50vmax - 2.5vmin);
  top: 40vmin;
  width: 10vmin;
  height: 10vmin;
  opacity: 0.5;
  background-color: transparent;
}
.x:hover {
  opacity: 1;
}
.x:before, .x:after {
  position: absolute;
  left: 5vmin;
  content: ' ';
  height: 10vmin;
  width: 0.5vmin;
  background-color: var(--backred);
}
.x:before {
  transform: rotate(45deg);
}
.x:after {
  transform: rotate(-45deg);
}

.findback {
  position: absolute;
  left: 0;
  width: 10vmax;
  top: 10vmin;
  height: 10vmin;
  font-size: 4vmin;
  border: 0.5vmin solid var(--border);
}
.findback:hover {
  background-color: var(--backred);
}

.findreload {
  position: absolute;
  left: 0;
  width: 10vmax;
  top: 20vmin;
  height: 10vmin;
  font-size: 4vmin;
  border: 0.5vmin solid var(--border);
}

#typex {
  top: 0;
  left: 0;
  z-index: 1;
}
#hostinfox {
  top: 0;
  left: 0;
  z-index: 1;
}
#alertx {
  top: 0;
  left: 0;
  z-index: 1;
}

.frontinput {
  width: 80%;
  height: 15vmin;
  left: 10%;
  top: 20vmin;
  text-align: center;
  font-size: 6vmin;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
}
#joingameid {
  top: 20vmin;
}
#joingamenickname {
  top: 40vmin;
}
#hostgameid {
  top: 20vmin;
}
#hostgamenickname {
  top: 40vmin;
}

.frontbutton {
  width: 80%;
  height: 15vmin;
  left: 10%;
  top: 60vmin;
  text-align: center;
  font-size: 6vmin;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
}

#playercount {
  width: 10vmax;
  height: 15vmin;
  left: 5vmax;
  top: 80vmin;
  padding-top: 3vmin;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
  font-size: 6vmin;
  text-align: center;
}
#startgamebutton {
  width: 40vmax;
  height: 15vmin;
  left: 15vmax;
  top: 80vmin;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
  font-size: 8vmin;
}

#votetext {
  font-size: 8vmin;
  width: 100vmax;
  top: 10vmin;
  height: 10vmin;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
}
.cardholder {
  position: absolute;
  display: none;
  width: 30vmax;
  height: 80vmin;
  left: 65vmax;
  top: 20vmin;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-radius: 2vmin;
  border-style: solid;
  overflow-y: scroll;
  padding: 1vmin;
  font-size: 5vmin;
  background-color: black;
  color: white;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.cardholder:hover {
  background-color: var(--buttonhover);
}

.typesubmitbutton {
  position: absolute;
  text-align: center;
  display: none;
  width: 30vmax;
  height: 10vmin;
  left: 65vmax;
  top: 76vmin;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-radius: 2vmin;
  border-style: solid;
  font-size: 4vmin;
}
.typeideabutton {
  position: absolute;
  text-align: center;
  display: none;
  width: 30vmax;
  height: 10vmin;
  left: 65vmax;
  top: 88vmin;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-radius: 2vmin;
  border-style: solid;
  font-size: 4vmin;
}
#playerholder {
  width: 60vmax;
  height: 80vmin;
  left: 0;
  top: 20vmin;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
  overflow-y: scroll;
}
.playerslide {
  width: 100%;
  height: 15vmin;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
  display: block;
  position: static;
}
.playerslide:hover {
  background-color: var(--buttonhover);
}

.myslide {
  background-color: var(--buttonhover);
}
.myslide:hover {
  background-color: var(--buttonclick);
}

.slideicon {
  font-family: 'Noto Emoji', sans-serif;
  width: 10vmin;
  height: 10vmin;
  top: 2.5vmin;
  left: 2.5vmin;
  font-size: 8vmin;
  display: inline-block;
  position: absolute;
  text-align: center;
}
.slidename {
  width: 35vmax;
  height: 13vmin;
  left: 10vmax;
  top: 1vmin;
  font-size: 6vmin;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: absolute;
  background: transparent;
  overflow: hidden;
}
.slideextra {
  width: 15vmax;
  height: 13vmin;
  left: 45vmax;
  top: 1vmin;
  font-size: 6vmin;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: absolute;
  background: transparent;
}

.findlobbyholder {
  position: absolute;
  width: 80vmax;
  height: 80vmin;
  left: 10vmax;
  top: 10vmin;
  border: solid 1vmin var(--border);
}
.lobbytab {
  width: 100%;
  height: 10vmin;
  display: block;
  position: static;
  border-bottom: solid 0.5vmin var(--border);
  background-color: var(--background);
  font-size: 8vmin;
}
.lobbytab:hover {
  background-color: var(--buttonhover);
}
.lobbytab:active {
  background-color: var(--buttonclick);
}

#showcaseholder {
  width: 100vmax;
  height: 80vmin;
  left: 0;
  top: 20vmin;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
  overflow-y: scroll;
}
#nextreviewbutton {
  width: 100vmax;
  height: 10vmin;
  top: 10vmin;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
  font-size: 8vmin;
}

#refreshbutton {
  font-family: 'Noto Emoji', sans-serif;
  width: 10vmin;
  height: 10vmin;
  top: 20vmin;
  left: 60vmax;
  font-size: 8vmin;
  display: inline-block;
  position: absolute;
  text-align: center;
  background-color: transparent;
}
#backtolobbybutton {
  font-family: 'Noto Emoji', sans-serif;
  width: 10vmin;
  height: 10vmin;
  top: 30vmin;
  left: 60vmax;
  font-size: 8vmin;
  display: inline-block;
  position: absolute;
  text-align: center;
  color: var(--backred);
  background-color: transparent;
}

textarea {
  resize: none;
  width: 100%;
  height: 0;
  transition: 0s ease;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
  position: static;
  display: block;
  font-size: 6vmin;
  min-height: 10vmin;
}
.cardbutton {
  text-align: center;
  width: 100%;
  height: 10vmin;
  border: solid 0.5vmin var(--border);
  position: static;
  display: block;
  font-size: 6vmin;
}
.darker {
  background-color: var(--buttonhover);
}

.deckholder {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.deckpaneltab {
  padding-top: 1vmin;
  width: 100%;
  height: 10vmin;
  border: solid 0.5vmin var(--border);
  position: static;
  display: block;
  font-size: 6vmin;
}
.deckpaneltab:hover {
  background-color: var(--buttonhover);
}

.backtab:hover {
  background-color: var(--backred);
}
.hostedtab {
  background-color: var(--hostedshading);
}

.deckpanelinput {
  padding-top: 1vmin;
  width: 100%;
  height: 10vmin;
  border: solid 0.5vmin var(--border);
  position: static;
  display: block;
  font-size: 6vmin;
}
.deckpanelinput:hover {
  background-color: var(--buttonhover);
}

#loadingpanel {
  width: 100vmax;
  height: 100vmin;
  background-color: #000000;
  color: #ffffff;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1001;
  font-size: 10vmin;
  text-align: center;
  position: absolute;
  padding-top: 30vmin;
}

#mobileFSpanel {
  width: 100vmax;
  height: 100vmin;
  background-color: var(--background);
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  position: absolute;
  display: none;
}
@media only screen and (max-width: 1000px) {
  #mobileFSpanel {
    display: block;
  }
}
#mobiletext {
  background-color: transparent;
  text-align: center;
  font-size: 10vmin;
  padding-top: 10vmin;
}
#goFS {
  background-color: var(--background);
  position: absolute;
  left: 5vmax;
  top: 60vmin;
  height: 20vmin;
  width: 40vmax;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
  font-size: 6vmin;
}
#refuseFS {
  background-color: var(--background);
  position: absolute;
  left: 55vmax;
  top: 60vmin;
  height: 20vmin;
  width: 40vmax;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
  font-size: 6vmin;
}

.popupwindow {
  width: 50vmax;
  height: 50vmin;
  left: 25vmax;
  top: -60vmin;
  z-index: 3;
  border-width: 1vmin;
  border-color: var(--border);
  border-style: solid;
  text-align: center;
  font-size: 4vmin;
}
.banwindowpopup {
  height: 80vmin;
  top: -90vmin;
}
.confirmpanelbutton {
  width: 15vmax;
  height: 5vmin;
  top: 40vmin;
  left: 5vmax;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
}
.cancelpanelbutton {
  width: 15vmax;
  height: 5vmin;
  top: 40vmin;
  left: 30vmax;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
}
.banpanelbutton {
  display: block;
  position: relative;
  top: 3vmin;
  left: 10%;
  width: 80%;
  height: 8vmin;
  font-size: 6vmin;
  border: solid var(--border) 0.5vmin;
  margin-bottom: 1vmin;
  text-align: center;
}
.baninput {
  margin-bottom: 0;
  background-color: var(--buttonhover);
}
.baninput:hover {
  background-color: var(--buttonclick);
}
#customcardfilebtn {
  width: 40vmax;
  height: 8vmin;
  position: absolute;
  top: 10vmin;
  left: 5vmax;
  border-width: 0.5vmin;
  border-color: var(--border);
  border-style: solid;
  font-size: 3vmin;
}
#greyedpanel {
  width: 100vmax;
  height: 100vmin;
  background-color: var(--background);
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
  position: absolute;
  opacity: 0.8;
}
.customcardtext {
  text-align: center;
}

hr {
  background-color: var(--border);
  width: 100%;
  height: 1vmin;
  margin: 2vmin 0 2vmin 0;
  display: block;
  position: static;
}